<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grayscale - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="static/css/grayscale.min.css" rel="stylesheet">

  <!-- Custom styles for drag and drop-->
  <link href="static/css/custom_beh.css" rel="stylesheet">
  <!-- Drag and drop-->
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Inpainting Rescaling</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
        data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
        aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects">Image Rescaling</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Projects Section -->
  <section id="projects" class="projects-section bg-light">
    <a name="projects_anchor"></a>)
    <div class="container">
      <!-- First row, input image, buttom, output image -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-lg-5">
          <img class="img-fluid mb-3 mb-lg-0" src={{input_image}} height="400" width="400" alt="">
        </div>
        <div class="col-sm-2">
          <div class="row align-items-center">
            <div class="form-group">
              <form method="POST" action="/convert_image">
                <label>New width</label>
                <input type="input" size="10" class="form-control" name="width_size_input" placeholder="new width">
                <label>New height</label>
                <input type="input" size="10" class="form-control" name="height_size_input" placeholder="new height">
                <input type="submit" class="btn btn-secondary  btn mb-5" value=Rescale>
              </form>
            </div>
          </div>
        </div>
          <div class="col-lg-5">
            <img class="img-fluid mb-3 mb-lg-0" src={{output_image}} height="400" width="400" alt="">
          </div>
        </div>
      </div>
      <!-- Second row, upload files-->

      <!-- drag and drop-->
      <div class="container">
        <div class="row align-items-left no-gutters mb-4 mb-lg-5">
          <div class="col-xl-4">
            <div class="panel panel-default">
              <div class="panel-heading"><strong>Upload Files</strong> <small>Uplaod your image here</small></div>
              <div class="panel-body">

                <!-- Standar Form -->
                <h4>Select files from your computer</h4>
                <form action="rescaling.html" method="post" enctype="multipart/form-data" id="js-upload-form">
                  <div class="form-inline">
                    <div class="form-group">
                      <input type="file" name="file" id="js-upload-files" multiple>
                    </div>
                    <button type="submit" class="btn btn-sm btn-primary" id="js-upload-submit">Upload files</button>
                  </div>
                </form>
                <!-- Drop Zone -->
                <h4>Or drag and drop files below</h4>
                <div class="upload-drop-zone" id="drop-zone">
                  Just drag and drop files here
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> <!-- /container -->
  </section>
  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">20 Adelaide Steet, Toronto</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">behnam@intelligentimageprocessing.site</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">(XXX) XXX-XXXX</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="#" class="mx-2">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="#" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; intelligentimageprocessing.site 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/grayscale.min.js"></script>

  <!-- Custom scripts for drag and drop-->
  <!-- <script src="static/js/drag_drop.js"></script> -->

</body>

</html>